*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

html {
  block-size: 100%;
}

body {
  margin: 0;
  min-block-size: 100%;
  min-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1919;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
}

.page {
  inline-size: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.content {
  inline-size: 1140px;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: inherit;
  line-height: 100%;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: fit-content;
}

.search-form__textfield {
  appearance: none;
  inline-size: 225px;
  block-size: 27px;
  background-color: transparent;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: none;
  border-right: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #ffffff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  inline-size: 100%;
  block-size: 100%;
  display: block;
  background-color: #ffffff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__textfield::placeholder {
  color: #ffffffb2;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.button {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-family: inherit;
  font-size: 18px;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
  color: #ffffff;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
  align-self: flex-end;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.content__details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-self: stretch;
}

.title {
  max-inline-size: 259px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 70.5px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  inline-size: 100%;
  max-inline-size: 399px;
  block-size: 298px;
  overflow-y: auto;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-inline-start: 2px;
  padding-inline-end: 7px;
}

.content__card-link {
  inline-size: 100%;
  display: block;
  color: inherit;
  text-decoration: none;
}

.content__video-card {
  inline-size: 100%;
  block-size: 103px;
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  display: block;
  flex-shrink: 0;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-inline-size: 0;
}

.content__video-card-title {
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 400;
  line-height: 16.2px;
}

.content__card-link:hover .content__video-card-title {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
  color: #ffffff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.more-button {
  inline-size: 100%;
}
